  * {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    list-style: none;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background-color: #FAFAFC;
  }

  .rotas{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pagetop ul{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 0;
    color: #1F1F20;
  }

  .rotas li {
    cursor: pointer;
    margin: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1;
    white-space: nowrap;
  }

  .venda .listapple ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .venda .listapple ul li {
    margin: 2px;
    text-align: center;
  }

  .venda .listapple ul li a {
    display: block;
    text-decoration: none;
    color: black;
  }

  .listapple span{
    display: block;
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .venda{
    background-color: #FAFAFC;
    height: 9rem;
    padding-top: 20px;
  }

 .venda img{
    height: 56px;
    margin: 0 auto 4px;
    background: bottom no-repeat;
  }

  .venda li{
    vertical-align: top;
    margin: 0 -.1176470588em;
    padding: 0 20px;
  }

  .previa{
    color: #B64400;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: -0.008em;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    display: block;
  }

  
  /* Parte de parcelas do iphone*/

  .parcelas{
    margin-top: 0.1px;
    text-align: center;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #F5F5F7;
    padding: 9px 0;
    font-size: 12px;
    line-height: 1.3333733333;
  }

  .link-saiba{
    text-decoration: none;
    color: #006BCE;
  }

  /* Parte de venda do Iphone -- centro da pagina*/
  .texto-venda{
    display: flex;
    width: 70%;
  }

  .texto-venda h1{
    display: flex;
    margin-left: 10%;
    margin-top: 4%;
    font-size: 70px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015rem;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  .texto-venda h2{
    display: flex;
    position: absolute;
      margin-left: 75%;
      margin-top: 5%;
      font-size: 28px;
      line-height: 1.05;
      font-weight: 600;
      letter-spacing: -0.015rem;
      font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  }

  /* Parte do video centro da pagina */

  .apresentacao video {
    position: relative;
    margin-top: 6%;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 30px;
}

.textop1 h1 {
  font-size: 46px;
  line-height: 1.0714285714;
  margin-left: 5%;
  margin-top: 8%;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.elemento-aparecer {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.5s ease;
}

.elemento-aparecer.aparecer {
  opacity: 1;
  transform: translateY(0);
}